!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Welcome to the Home Page</h1>
  <a href="/about">About Us</a> | <a href="/project">Our Project</a> | <a href="/gallery">Our Gallery</a>
</body>
</html>
